html {
    font-size: 100%;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #00008B;
}

.nav {
    display: flex;
    list-style: none;
}

.nav-item {
    font-weight: bold;
    color: #00008B;
    margin-left: 40px;
}

.a {
    text-decoration: none;
}

.fv {
    height: 700px;
    position: relative;
}

.fv__img {
    display: block;
    position: absolute;
    top: 10%;
    left: 50%;
    width: 50%;
    z-index: 10;
}

.fv__title {
    position: absolute;
    top: 55%;
    font-size: 50px;
}

.fv__bg-blue {
    width: 70%;
    height: 25%;
    position: absolute;
    top: 70%;
    background-color: #00008B;
}
